@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Playfair+Display+SC&display=swap');
/* 
font-family: 'Alexandria', sans-serif;
font-family: 'Playfair Display SC', serif; */

/* HEADER */
.wrapper{
  min-height: 100vh;
  height: 100%;
}

body{
  background-color: #a5cdcb;
  font-family: 'Playfair Display SC', serif;

}
.header_container{
  margin: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_main{
  background-color: #ab9873 ;
  padding: 10px 0px;
  height: 160px;
}
.logo-container{
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo-title h1{
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  color: #fff9ed;
  font-size: 42px;
  font-weight: 799.2px;
}
.logo-title p{
  margin: 0;
  font-family: 'Alexandria', sans-serif;
  font-size: 27px;
  font-weight: 799.2px;
  color: #fff9ed;
}
.header_icons{
  display: flex;
  align-items: center;
}
.header_icons span  {
  background-color: #a5cdcb;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

/* LOGIN */
.login_form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  align-items: center;
  margin: 40px 0px;
}
.login_form input{
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 325px;
}
.login_form h2{
  font-size: 36px;
  margin-bottom: 12px;
  color: rgb(255, 246, 234);
}
.login_form p{
  font-size: 24px;
  color: rgb(255, 246, 234);
  margin-bottom: 10px;
}
.btn-log{
  border:1px solid #6c61c8;
  color: #6c61c8;
  width: 120px;
  background-color:#a5cdcb;
  height: 38px;
  margin-top: 30px;
  border-radius: 10px;
  outline: none;
}
.btn-log:hover {
  background-color: #ab9873;
  border-color: #ab9873;
  color: #fff9ed;
  cursor: pointer;
}
.login_container{
  margin: 15px 50px;
}
.login-position{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.footer{
  background-color: #ab9873;
  color: black;
  padding: 10px;
}
.footer p{
  font-size: 14px;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  color: #fff9ed;
}

/* PRODUCT */
.previusPrice{
  text-decoration: line-through;
}
.product-box{
  border: 2px #ab9873 solid;
  max-width: 400px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-box p{
  text-align: center;
  font-size: 25px;
  color: #fff9ed;
}
.product-box  span{
  color:#fff9ed ;
  font-size: 25px;
  margin-right: 15px;
}
.product-btn{
  background-color: #a5cdcb;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 100px;
  margin-bottom: 20px;
  transition: 1s all ease;
}
.product-btn:hover,
.product-btn:active,
.product-btn:focus{
background-color: #ced4da;
border-color: #75684e;

}

.product-price{
  display: flex;
  justify-content: space-evenly;
}

/* PRODUCTS */

.products-container{
  margin: 15px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* MAIN */

.main-title{
  text-align: center;
  color: #fff9ed;
  padding: 20px 0px; 
}
.main-filter-btn{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0px;
}
.main-filter-btn button{
  background-color: #a5cdcb;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #75684e;
  transition: 0.5s all ease;
}
.main-filter-btn button:hover,
.main-filter-btn button:active 
.main-filter-btn button:focus {
  text-decoration: underline;
  text-decoration-color: #ced4da;
  text-underline-offset: 4px; 
  text-decoration-skip-ink: none;
  outline: none; 
  color: #ced4da;
  font-weight: bold;
}


/* SEARCH */

.src-btn{
    border-color: #a5cdcb;
    color: #a5cdcb;
    font-size: 16px;
    background-color: #ab9873;
  
}